.answer{
  background-color: white;
  border-radius: 15%;
  color: darkblue;
}

.navcontainer{
  background-color: darkblue;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  
}
.navNames{
  background-color: darkblue !important;
  display: flex;
  flex-direction: row;
  font-size: 40px;
  align-items: center;
  column-gap: 100px;
  justify-content: center;
  object-fit: fill;
}

.foot{
  margin: 10px !important;
}
title{
  width: 100px;
  height: auto;
  text-align: center;
}

.header{
  object-fit: cover !important;
}

/* FOOTER */

.link-home {
  position: absolute; 
  display: block; 
  width: 100%; 
  bottom: 0; 
  padding: 1.2em; 

  text-align: center; 
  background-color: #ccc;
}